---
layout: default
title: 大将軍駅の写真 - Photos -
menu_title: Photos
menu_sort: 10
---

  <ul class="photo-list">
    {% assign pagelist = (site.pages | sort: 'title') %}
    {% for item in pagelist %}
      {% if item.tags contains 'Photo' %}
      <li>
        <a class="photo-link" href="{{ item.url | prepend: site.baseurl }}">
        <h2>
          {{ item.title }}
        </h2>
           <img src="{{ '/photos/thumbs/' | prepend: site.baseurl }}{{ item.image }}" class="photo-thumb" />
         </a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>