---
layout: default
title: 3Dモデル
---


<article class="post-content">
  
  <h1 class="page-heading">3Dモデル</h1>

  <section>
  3Dモデルのダウンロードは以下から<br />
  <a href="https://github.com/opap-jp/daishogun-3d-models/archive/master.zip">3Dモデル(Blender)のダウンロード</a><br />
  <br />
  3Dモデル制作へのご協力もお待ちしております。<br />
  <a href="https://github.com/opap-jp/daishogun-3d-models/">GitHub</a><br />
  </section>

    <h2>モデルの詳細</h2>
      <h3>アパート共用部分・管理室</h3>
      
      <a href='{{ "/images/3d-preview-01.jpg" | prepend: site.baseurl }}'><img src='{{ "/images/3d-preview-01.jpg" | prepend: site.baseurl }}' /></a>
      <a href='{{ "/images/3d-preview-02.png" | prepend: site.baseurl }}'><img src='{{ "/images/3d-preview-02.png" | prepend: site.baseurl }}' /></a>
      <a href='{{ "/images/3d-preview-03.png" | prepend: site.baseurl }}'><img src='{{ "/images/3d-preview-03.png" | prepend: site.baseurl }}' /></a>
      モデル制作: 桐貴寛仁<br />
      ※このプレビュー画像はプレビュー用に出力したものです。
      <br />
      <h3>外観</h3>
      モデル制作: Sota@./make<br />
</div>