---
layout: default
---

<div class="home">
  <section class="hero">
    <img src="images/hero.jpg" alt="TOP画像" />
  </section>
  

  <section class="row home-content">
    <div class="col-8">

  <h1 class="page-heading">新着情報</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%Y/%m/%d" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

    </div>
    <div class="col-4">

    </div>
  

  </div>


</div>
