/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    border-left: 10px solid dimgray;
    padding-left: 5px;
    font-size: 20px;
    font-weight: bold;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Home content
 */

.home-content {
    margin: 10px 0;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    
    border-left: 10px solid dimgray;
    padding-left: 5px;
    font-size: 32px;
    font-weight: bold;

    line-height: 1;
}

.post-content {
    margin-bottom: $spacing-unit;

    section {
        margin-bottom: $spacing-unit;
    }

    h2,
    section>h1 {
        font-size: 18px;
        font-weight: bold;

        margin-bottom: 10px;
        //border-left: 10px solid dimgray;
        padding: 5px;
        background-color: dimgray;
        color: white;
    }

    h3 {
        font-size: 16px;
        border-bottom: dashed 1px dimgray;

        @include media-query($on-laptop) {
            font-size: 16px;
        }
    }

    h4 {
        font-size: 12px;

        @include media-query($on-laptop) {
            font-size: 12px;
        }
    }
}

/**
 * Photos
 */

.photo-list {
    margin-left: 0;
    list-style: none;
    display: block;

    > li {
        box-sizing: border-box;
        float: left;
        display: block;
        width: 220px;     
        
        margin: 10px;

        padding: 10px;

        border: 1px solid #DDDDDD;

        text-align: center;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }

    ::after {
        display: table;
        content: " ";
        clear: both; 

    }
}



.photo-link {
    font-size: 10px;
    display: block;
}

.photo-thumb {
    width: 180px;
}


/**
 * About
 */
.about-logo {
    width: 100px;
    height: auto;
    margin: 5px;
    float: left;
}


/**
 * Common
 */


.row::after {
    display: table;
    content: "";
    clear:both;
}

.col{
    float: left;
}
.col-1  { @extend .col; width:  8.33333333%; }
.col-2  { @extend .col; width: 16.66666667%; }
.col-3  { @extend .col; width: 25.00000000%; }
.col-4  { @extend .col; width: 33.33333333%; }
.col-5  { @extend .col; width: 41.66666667%; }
.col-6  { @extend .col; width: 50.00000000%; }
.col-7  { @extend .col; width: 58.33333333%; }
.col-8  { @extend .col; width: 66.66666667%; }
.col-9  { @extend .col; width: 75.00000000%; }
.col-10 { @extend .col; width: 83.33333333%; }
.col-11 { @extend .col; width: 91.66666667%; }
.col-12 { @extend .col; width: 100%; }

@include media-query($on-palm) {
    .col {
        float: none;
        width: auto;
    } 
}