---
layout: default
---

<div class="movies">

    <h1 class="page-heading">動画</h1>

  <ul class="post-list">
        <li>
        <span class="post-meta">2017/10/31</span>

        <h2>
            <a class="post-link" href="https://youtu.be/Sim3-h5kw4s">こうしす！ #3「セキュリティに完璧を求めるのは間違っているだろうか」(Part1/4)</a>
        </h2>
        <section>
                弊団体制作の情報セキュリティ普及啓発アニメ「こうしす！」第3話Part1です。
                大将軍駅記録プロジェクトの成果物を活用し、建物外観、大将軍駅ホームの作画を行いました。（ただし、作中の設定はモノレール駅ではなく普通の鉄道駅です）
        </section>
        <section>
            YouTube<br />
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Sim3-h5kw4s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </section>
      </li>
      <li>
        <span class="post-meta">2016/07/24</span>

        <h2>
          <a class="post-link" href="https://vimeo.com/176012125">高尾ビル（姫路モノレール 大将軍駅） 空撮</a>
        </h2>
        <section>
            2016/07/22 14時頃撮影<br />
            <br />
            この動画は無編集版につき映像はノンクレジットです。<br />
            手ぶれ補正後の編集版は2016年9月以降に別途公開予定。
        </section>
      </li>
      <li>
        <span class="post-meta">2016/08/04</span>

        <h2>
          <a class="post-link" href="http://www.nicovideo.jp/watch/1470318486">こうしす！ 第2話 ED 「Traveler」（ノンクレジット版）【姫路モノレール 大将軍駅】</a>
        </h2>
        <section>
            アニメ「こうしす！」第2話のエンディング映像です。姫路モノレールの車両や大将軍駅が登場します。
        </section>
        <section>
            ニコニコ動画<br />
            <a href="http://www.nicovideo.jp/watch/1470318486">【ニコニコ動画】こうしす！ 第2話 ED 「Traveler」（ノンクレジット版）【姫路モノレール 大将軍駅】</a>
            <script type="text/javascript" src="http://ext.nicovideo.jp/thumb_watch/1470318486?w=490&h=307"></script>
        </section>
        <section>
            YouTube<br />
            <iframe width="560" height="315" src="https://www.youtube.com/embed/gigcBj5Qg7o" frameborder="0" allowfullscreen></iframe>
        </section>
      </li>
      <li>
        <span class="post-meta">2016/05/18</span>

        <h2>
          <a class="post-link" href="http://www.nicovideo.jp/watch/1463575559">こうしす！ #2「やはり弊社の業務システムは間違っている」</a>
        </h2>
        <section>
            弊団体制作の情報セキュリティ普及啓発アニメ「こうしす！」第2話です。大将軍駅・高尾アパートが舞台のモデルとなっています。<br />
            <br />
            XP事件以降、システム課の通常業務から外され、研修名目で現場を転々としていたアカネだったが、ついに子会社への出向を命じられてしまう。そこで待ち受けていたシステム開発案件とは――<br />
            なぜ脆弱な情報システムが生まれてしまうのか？　システム開発現場の謎に迫る！
        </section>
        <section>
            ニコニコ動画<br />
            <a href="http://www.nicovideo.jp/watch/1463575559">【ニコニコ動画】こうしす！ #2「やはり弊社の業務システムは間違っている」</a>
            <script type="text/javascript" src="http://ext.nicovideo.jp/thumb_watch/1463575559?w=490&h=307"></script>
        </section>
        <section>
            YouTube<br />
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zNln_gebc68" frameborder="0" allowfullscreen></iframe>
        </section>
      </li>
      <li>
        <span class="post-meta">2014/04/09</span>

        <h2>
          <a class="post-link" href="http://www.nicovideo.jp/watch/1397053610">こうしす! #1 「XPだけどお金がないから使い続けても問題ないよね」(RC1)</a>
        </h2>
        <section>
            弊団体制作の情報セキュリティ普及啓発アニメ「こうしす！」第1話です。大将軍駅・高尾アパートが舞台のモデルとなっています。<br />
            <br />
            ここは兵庫県姫路市に本社を構える、中堅私鉄『京姫鉄道株式会社』のシステム課。XPのサポート期限切れから1年以上経過してもまだOSのアップグレードが進まずにいた。
曰く「ウィルスソフトを使っておけば大丈夫だろ」と。しかし、魔の手は既に忍び寄っていた――。
        </section>
        <section>
            ニコニコ動画<br />
            <a href="http://www.nicovideo.jp/watch/1397053610">【ニコニコ動画】こうしす! #1 「XPだけどお金がないから使い続けても問題ないよね」(RC1)</a>
            <script type="text/javascript" src="http://ext.nicovideo.jp/thumb_watch/1397053610?w=490&h=307"></script>
        </section>
        <section>
            YouTube<br />
            <iframe width="560" height="315" src="https://www.youtube.com/embed/a-VzjnKgcVI" frameborder="0" allowfullscreen></iframe>
        </section>
      </li>
  </ul>
    
</div>
