---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    
  </header>

  <div class="post-content">
    <section class="photo">
      <a href="{{ site.repository_raw_url }}/photos/originals/{{ page.image }}"><img src="resized/{{ page.image }}" /></a>
    </section>

    <section class="photo-download">
      <h1>ダウンロード</h1>
      <ul class="download-list">
        <li><a href="{{ site.repository_raw_url }}/photos/originals/{{ page.image }}" class="donwload-link">画像</a></li>
        {% if page.image_raw != nil %}
        <li><a href="{{ site.repository_raw_url }}/photos/originals/{{ page.image_raw }}" class="donwload-link">RAW画像</a></li>
        {% endif %}
      </ul>
      
    </section>
    <section class="photo-copyright">
      <h1>著作権情報</h1>
      {{ page.credit }}<br />
      Licensed under the <a href="{{ page.liecnse_url }}">{{ page.license }}. <br />
      <img src="{{ '/images/licenses/' | prepend: site.baseurl }}{{ page.license_logo }}" class="license-logo" /> </a>
      
    </section>
    {% assign pagecontent = post.content | strip_newlines %}
    {% if pagecontent != nil %}
    <section class="photo-note">
      <h1>補足情報</h1>
      {{ content }}
    </section>
    {% endif %}
  </div>

</article>
